<%= render 'layouts/admin_header_form' %>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="flex-shrink-0 p-3" style="width: 280px;">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Homepage
            </button>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Member Management
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav fw-normal pb-1 small">
                <li>
                  <%= link_to 'User List', admin_users_path, class: "link-dark d-inline-flex text-decoration-none rounded" %>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Example Management
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav fw-normal pb-1 small">
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    </main>
  </div>
</div>