<div class="card shadow-sm mb-10 bg-white rounded">
  <h4 class="card-header text-center bg-dark text-white">New Category</h4>
  <%= render partial: 'form', locals: { category: @category, path: admin_categories_path } %>
</div>