<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="container">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Brand Image</a>
    <ul class="nav nav-pills mt-2 ">
      <li class="nav-fill">
        <a href="#" class="nav-link text-white" data-bs-toggle="dropdown">Coins</a>
      </li>
      <li class="nav-fill">
        <a href="#" class="nav-link text-white" data-bs-toggle="dropdown">Claim</a>
      </li>
      <li class="nav-fill dropdown">
        <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">Language</a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">English</a>
          <a href="#" class="dropdown-item">Filipino</a>
          <a href="#" class="dropdown-item">Chinese</a>
        </div>
      </li>
      <li class="nav-item dropdown ms-auto">
        <a href="#" class="nav-link bi bi-list fs-5 dropdown-toggle text-white" data-bs-toggle="dropdown"></a>
        <div class="dropdown-menu dropdown-menu-end">
          <%= link_to 'Profile', clients_profile_index_path, class: "dropdown-item" %>
          <a href="#" class="dropdown-item">Settings</a>
          <div class="dropdown-divider"></div>
          <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path, { onclick: "return confirm('Are you sure you want to delete?')", method: :delete, class: "dropdown-item" } %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</header>